---
layout: default
redirect_from: /blog/index.html
---

<div class="home">

  {% if site.categories.speaking.size > 0 %}
  <p>Forthcoming speaking: </p>
  <ul class="speaking forthcoming">
  {% for post in site.categories.speaking %}
    {% capture currentTime %}{{ 'now' | date: "%s" }}{% endcapture %}
    {% capture speakingTime %}{{ post.speakingDate | date: "%s" }}{% endcapture %}
    {% if speakingTime > currentTime %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="post-date">({{post.speakingDate}})</span>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endif %}

  <ul class="posts">
    {% for post in site.categories.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="post-date">({{post.date | date: "%Y-%m-%d"}})</span>
        <blockquote>{{ post.excerpt }}</blockquote>
      </li>
    {% endfor %}
  </ul>

</div>
