---
layout: default
---

<div class="home">

  {% if site.categories.speaking.size > 0 %}
  <ul class="speaking forthcoming">
  {% for post in site.categories.speaking %}
    {% capture currentTime %}{{ 'now' | date: "%s" }}{% endcapture %}
    {% capture speakingTime %}{{ post.speakingDate | date: "%s" }}{% endcapture %}
    {% if speakingTime > currentTime %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="post-date">({{post.speakingDate}})</span>
        <blockquote>{{post.subTitle}}</blockquote>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
  {% endif %}

</div>
