---
layout: default
---

<div class="home">

  <h1>Past and forthcoming speakings</h1>

  <ul class="speaking">
  {% for post in site.categories.speaking %}
    {% capture currentTime %}{{ 'now' | date: "%s" }}{% endcapture %}
    {% capture speakingTime %}{{ post.speakingDate | date: "%s" }}{% endcapture %}
      <li{% if speakingTime > currentTime %} class="forthcoming" {% endif %}>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="post-date">({{post.speakingDate}})</span>
        <blockquote>{{post.subTitle}}</blockquote>
      </li>
  {% endfor %}
  </ul>

</div>
